<header>
  <nav>
    <a [routerLink]="['']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a [routerLink]="['about']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">About</a>
    <a [routerLink]="['test-route']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">testRoute</a>
    <a [routerLink]="['/test-route', '15']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">testRoute with params(15)</a>
  </nav>
</header>
<main>
  <h1>Hello from {{title}}!</h1>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <img src="/img/angular.png">

  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
